.button {
    -fx-background-color: #404040;
    -fx-text-fill: #f8f8f8;
    -fx-pref-height: 35;
    -fx-pref-width: 100;
}
.menu,.label, .menu-item, .context-menu {
    -fx-text-fill: grey;
    -fx-dark-text-color: grey;
    -fx-focus-color: grey;
    -fx-background-color: #212121;
}

#modeLabel {
    -fx-text-fill: #f8f8f8;
}

#buttonGrid {
    -fx-background-color: #212121;
}
#answerScreen {
    -fx-background-color: #404040;
    -fx-text-fill: #f8f8f8;
}
#calculatorScreen {
    -fx-background-color: #404040;
    -fx-text-fill: #f8f8f8;
}

#paneScreen{
    -fx-background-color: #404040;
}

#boxScreen{
    -fx-background-color: #212121;
}

#menuScreen{
    -fx-background-color: #212121;
}